html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes slideUp {
    0% {
        /* 하위 20px 에서 시작합니다. */
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        /* 원 위치로 이동합니다. */
        opacity: 1;
        transform: translateY(0);
    }
}

.fade {
    position: relative;
    animation: fadeInUp 0.7s;
}

.container {
    max-width: 991px !important;
    margin: 0 auto;
    padding: 30px 16px;
}

.sub-container {
    max-width: 372px !important;
    margin: 0 auto;
    padding: 60px 16px;
}

.pc-menu-btn {
    display: none;
    justify-content: center;
    background: #348485;
    margin: 0 auto;
    width: 1200px;
    height: 52px;
    @media (min-width: 991px) {
        display: flex;
    }
}

.mobile-btn {
    justify-content: center;
    display: flex;
    background: #348485;
    margin: 0 auto;
    width: 1200px;
    height: 52px;
    @media (min-width: 991px) {
        display: none;
    }
}

button {
    background-color: inherit;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: 0.15s;
    margin: 0;
    padding: 0;
    text-align: left;
}
  
button:hover {
    transition: 0.15s;
    box-shadow: inset 0px 0px 999px 5px rgba(255, 255, 255, 0.05);
}

button:active {
    transition: 0.15s;
    transform: scale(0.97);
}

.banner > div > div:nth-child(1) {
    font-size: 12px;
    position: absolute;
    animation-delay: 50ms;
    animation-duration: 270ms;
    animation-fill-mode: forwards;
    animation-name: slideUp;
    animation-timing-function: ease-out;
    opacity: 0;

    @media (min-width: 991px) {
        position: relative;
        font-size: 16px;
    }
}

.banner > div > div:nth-child(2) {
    position: absolute;
    font-size: 13px;
    color: #413d37;
    animation-delay: 350ms;
    animation-duration: 370ms;
    animation-fill-mode: forwards;
    animation-name: slideUp;
    animation-timing-function: ease-out;
    opacity: 0;
    top: 180px;
    
    @media (min-width: 991px) {
        top: 0px;
        position: relative;
        font-size: 16px;
    }
}

.banner > div:nth-child(2) {
    width: 200px;
    @media (min-width: 991px) {
        width: 350px;
    }
}